.NewProduct form {
    padding-bottom: 15px;
}

.NewProduct form textarea {
    height: 300px;
    font-size: 24px;
}

Button.LoaderButton.btn.btn-lg.btn-primary.btn-block:hover {
    background-color: #1D7EEC;
}

Button.LoaderButton.btn.btn-lg.btn-primary.btn-block {
    background-color: #7AB4F7;
    color: #282c34;
}

select#newproduct.form-control {
    height: 42px;
}